# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# tkucic@gmail.com will be requested for
# review when someone opens a pull request.
*       tkucic@gmail.com
